:root{
    --white:#F5EFFF;
    --second-white:#E5D9F2;
    --grey:#CDC1FF;
    --blue:#A294F9;
}
#tool-container{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
display: flex;
justify-content: flex-end;
background-color: #00000061;
}
.tool{
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: var(--grey);
max-width: 70%;
height: 100%;
padding: 25px;

}
.tool ul{
height: 80%;
width: 100%;
overflow-y: scroll;
}
.tool .universal-input{
    width: 100%;
    line-break: normal;
}
.note{
    background-color:#e8b23d;
    text-align: justify;
    line-break: normal;
}