:root{
    --white:#F5EFFF;
    --second-white:#E5D9F2;
    --grey:#CDC1FF;
    --blue:#A294F9;
}

.todo-list {
    display: flex;
    flex-direction: column;
}
#div-input{
    display: flex;
}

.list-container{
    height: 100px;
    
}
